<%include header.ejs %>
<form method="post" action="/add">
    <input name="tittle" type="text"><br/>
    <textarea name="content" ></textarea><br/>
    <input value="发表" type="submit"><br/>
</form>
<%include footer.ejs %>